<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.fucapi.fapeam.monitori"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.PacienteDadosActivity"
            android:label="@string/title_activity_paciente_dados" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.PacienteActivity"
            android:label="@string/title_activity_paciente" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.MedicoActivity"
            android:label="@string/title_activity_medico" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.MedicoDadosActivity"
            android:label="@string/title_activity_medico_dados" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.ColetarDadosActivity"
            android:label="@string/title_activity_coletar_dados" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.DiagnosticarActivity"
            android:label="@string/title_activity_diagnosticar" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.HistoricoActivity"
            android:label="@string/title_activity_historico" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.UnidadeSaudeActivity"
            android:label="@string/title_activity_ubs" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.UnidadeSaudeDadosActivity"
            android:label="@string/title_activity_ubs_dados" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.AgenteActivity"
            android:label="@string/title_activity_agente" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.AgenteDadosActivity"
            android:label="@string/title_activity_agentes_dados" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name="br.fucapi.fapeam.monitori.activity.MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal" >
        </activity>
    </application>

</manifest>
